/*
  This will be available everywhere,
  because every element is a descendant of
  the HTML tag:
*/
html {
    --link-color: #1259A5;
    --link-color-hover: #CC0000;
    --link-color-visited: #AA4494;
    --main-background-color: #FFFFFF;
    --main-text-color: #121212;
    --main-code-color: #943000;
    --sec-background-color: #B5B5B5;
    --sec-text-color: #333333;
    --title-background-color: #0d1c2c;
    --breadcrumb-background-color: #4695EB;

    --card-outline: #AAAAAA;
    --unlisted-outline-color: #EFEFEF;
    --unlisted-text-color: #555555;
    --card-background-color: #FFFFFF;
    --card-background-color-hover: #e4edf7;

    --controls-outline-color: #555555;

    /* not in the main site additions */

    --gentle-alert-background-color: #FDE9BF;

    --cta-background-color: #4695EB;
    --cta-hover-color: #cc0000;
    --code-background-color: #EFEFEF; /* not in the main site */
    --code-border-color: #EFEFEF; /* not in the main site */
    --code-text-color: #333333; /* not in the main site */

    --submenu-hover-color: #4695EB; /* not in the main site */
    --submenu-separator-color: #555555; /* not in the main site */
    --navbar-background-color: #000000; /* not in the main site */
    --breadcrumb-text-color: #FFFFFF; /* not in the main site */
    --navbar-text-color: #FFFFFF; /* not in the main site */
    --title-text-color: #FFFFFF; /* not in the main site */
    --submenu-background-color: #333333; /* not in the main site */
    --danger-color: var(--link-color-hover); /* not in the main site */

}

html.dark {
    --link-color: #9BCAFA;
    --link-color-hover: #CC0000;
    --link-color-visited: #AA4494;
    --main-background-color: #121212;
    --main-text-color: #B5B5B5;
    --main-code-color: #F59B00;
    --sec-background-color: #333333;
    --sec-text-color: #B5B5B5;
    --title-background-color: #070f17;
    --breadcrumb-background-color: #0d1c2c;


    --code-text-color: #B5B5B5;

    --card-outline: #555555;
    --unlisted-outline-color: #DCDCDC;
    --unlisted-text-color: #CCCCCC;
    --card-background-color-hover: #333333;
    --card-background-color: #0f0f0f;

    /* not in the main site additions */
    --gentle-alert-background-color: #292929;

    --code-background-color: #333333;
    --code-border-color: #222222;

    --cta-background-color: #0B58AB;


    /* code highlighting overrides */
    .hljs-built_in, .hljs-selector-tag, .hljs-section, .hljs-link, .hljs-function, .hljs-params {
        color: #6a9fb5 !important;
    }

    .hljs-title, .hljs-attr {
        color: #d28445 !important;
    }

    .hljs-string, .hljs-meta, .hljs-name, .hljs-type, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable {
        color: #90a959 !important;
    }

    .hljs-comment, .hljs-quote, .hljs-deletion {
        color: #75b5aa !important;
    }

    .hljs-literal, .hljs-number {
        color: #d28445 !important;
    }

    /* Table overrides */
    table.tableblock tbody tr:nth-child(even) {
        background-color: transparent !important;
    }

    table.tableblock thead th {
        background-color: #333333 !important;
    }

}

html {
    /* Fonts */
    --font-family-open-sans: "Open Sans", sans-serif;
    --font-family-fontawesome: FontAwesome;
    --font-family-pt-mono: "PT Mono";

    --font-style-normal: normal;

    --font-weight-normal: 300;
    /* Cannot go lighter than this with open sans */
    --font-weight-bold: 400;
    --font-weight-awfully-bold: 600;
    --font-weight-boldest: 700;

    font-family: var(--font-family-open-sans);

    --font-size-8: 8px;
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-32: 32px;
    --font-size-48: 48px;
    --font-size-56: 56px;
    --font-size-72: 72px;

    /** Spacing **/

    --line-height-multiplier: 1.2; /* multiplier for making calculations easier */

    --site-margins: 13rem;
    --navbar-padding: 1rem;
    --logo-width: 13rem;

    --a-generous-space: 100px;
    --a-modest-space: 20px;
    --a-small-space: 12px;
    --a-vsmall-space: 10px;

    --border-radius: 10px;

    font-weight: var(--font-weight-normal);
}

/** Adjustments for small screens  */
@media screen and (max-width: 1366px) {
    html {
        --site-margins: 4rem;
        --navbar-padding: 1.5rem;

    }
}

@media screen and (max-width: 768px) {
    html {
        --site-margins: 2rem;
        --logo-width: 8rem;
    }
}

:link {
    color: var(--link-color);
    text-decoration: none;
}

:visited {
    color: var(--link-color-visited);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* The react-select component cannot access css variables directly, so needs some css classes
The div adds specificity, so this styling overrides the component default*/

div.select-control-sort {
    border-radius: 0;
    color: var(--controls-outline-color);
    border-color: var(--controls-outline-color);
    background-color: var(--main-background-color);
    width: 15rem;
}

div.select-control {
    border-radius: 0;
    color: var(--controls-outline-color);
    border-color: var(--controls-outline-color);
    background-color: var(--main-background-color);
    width: var(--logo-width);
}

div.select-single-value {
    color: var(--main-text-color);
}

div.select-menu__focused {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    border: var(--card-outline) 1px solid;
}

div.select-menu {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    border: var(--card-outline) 1px solid;
}

div.select-option__selected {
    background-color: var(--submenu-hover-color);
}

div.select-option__disabled {
    cursor: not-allowed;
    background-color: var(--main-background-color);
    border-radius: 0;
}

div.select-option__default {
    cursor: default;
    background-color: var(--main-background-color);
    border-radius: 0;
}

div.select-option__focused {
    cursor: default;
    background-color: var(--card-background-color-hover);
    border-radius: 0;
}

div.select-dropdown-indicator {
    color: var(--controls-outline-color);
}

span.select-indicator-separator {
    margin: 0;
    background-color: var(--controls-outline-color);
}

/* react-tabs styling */

[role=tab].react-tabs__tab--selected {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

[role=tab].react-tabs__tab:focus {
    background-color: var(--main-background-color);
}

/* Needed to remove an annoying white bar on tabs with focus */
[role=tab].react-tabs__tab:focus:after {
    background: var(--main-background-color);
}

.icon {
    color: var(--main-text-color);
}